/*
img {
    height: 150px;
}
*/



/*
a:hover {
  text-decoration: none;
}
*/

#cartImg {
    height: 50px;
}

#logo {
    height: 40px;
}

h2 {
    color: black;
}

h3 {
    font-size: 1em;
    color: black;
}